/* Banner */
.banner {
  position: relative;
  text-align: left;
  color: white;
}

.banner img {
  width: 100%;
  height: auto;
}

.texto-banner {
  position: absolute;
  top: 40%;
  left: 10%;
  transform: translateY(-50%);
}
