.faixa-destaque {
  background-color: #f4a300;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 30px;
  flex-wrap: wrap;
}

.faixa-destaque img {
  height: 30px;
}

.faixa-destaque p {
  flex: 1;
  margin: 0;
  font-size: 10px;
  color: #222;
  text-align: center;
  justify-content: center;
}

.faixa-destaque strong {
  display: block;
  font-size: 15px;
  color: #1e2d3f;
  margin-bottom: 3px;
  font-weight: bold;
  text-transform: uppercase;
}

.faixa-destaque span {
  font-size: 13px;
  color: #222;
}

.faixa-destaque .botao-escuro {
  background-color: #1e2d3f;
  color: white;
  padding: 8px 18px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  align-items: center;
  justify-items: center;
}
